body{
    color: #5a5a5a;
    font-family: Georgia;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #b38a6b;
    display: block;
}
ul:after {
    display: block;
    float: none;
    content: ' ';
    clear: both;
}
.anim {
    position: relative;
}
a.block {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.block{
}
a.block:hover {
    background-color: #95500c;
    color: #fff;
}
ul.ssubmenuu {
    position: absolute;
    width: 70px;
    top: 52px;
    left: 0px;
    display: none;
    background-color: white;
}
ul.ssubmenuu > li {
    display: block;
}
ul.ssubmenuu > li > a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: #b38a6b;
}
ul.ssubmenuu > li > a:hover {
    background-color: #95500c;
    text-decoration: none;
    color: white;
    text-align: right;
}
ul.mmenuu > li:hover > ul.ssubmenuu {
    display: block;
}
#reg{
  position: relative;
  top: 6px;
  left: -10px;
}
#log{
  position: relative;
  top: 6px;
  left: -20px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.but{
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #cdb891;
  color: #fff;
  padding: 6px 10px;
  font-size: 17px;
}
.but:hover {
  background: #dac49d;
  cursor: pointer;
}
.but:focus {
  outline: none;
  box-shadow: 0 0 0 3px #f0e3d1;
}
.text{
color: black;
}
.main_text{
text-align: center;
text-indent: 20px;
font-size: 20px;
color: black;
}
.regist_log{
text-align: left;
text-indent: 20px;
font-size: 20px;
}
#name {
cursor: default;
}