{% extends "Base.html" %}
{% block content %}
<div class="acor-container">
    <input type="checkbox" id="chacor1"/>
    <label for="chacor1">А</label>
    <div class="acor-body">
        <a class="acor-a" href="/abisin">Абиссинская кошка</a>
    </div>
</div>
<button class="butt">Добавить стаью в избраное</button>
<h1 class="center spis_text">Абиссинская кошка</h1>
<p class="text main_text"> Абиссинская кошка — порода домашних кошек, выведенная в Великобритании в
    конце XIX века на основе аборигенных пород кошек Восточной Африки и Юго-Восточной Азии.</p>
<p class="text main_text">Абиссинская — одна из самых древних пород кошек и одновременно одна из первых пород,
    получивших официальный выставочный стандарт.</p>
<img src="/static/images/Abisin_cat.png" width="650px" height="750px" class="left">
<ul class="center">
    <li class="items"><h2 class="spis_text">Характеристика:</h2></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Рост:</span> самец от 30 до 32 см, самка от 26 до 28 см</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Вес:</span> самец от 4 до 4,5 кг; самка от 2,5 до 3,5 кг</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Продолжительность жизни:</span> 12-15 лет</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Длина шерсти:</span> Короткошерстная</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Стоимость котенка:</span> 10-100 тысяч рублей</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Средний срок беременности:</span> 63 дня</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Количество детенышей:</span> 2-3</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Страна происхождения:</span> Великобритания</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Год происхождения:</span> 1882</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Порода признана фелинологическими организациями:</span> CFA,
        FIFe, TICA, WCF, GCCF, WACC, ACFA, ACF, CCA</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Породные болезни:</span> предрасположенность к гингивиту, амилоидоз почек,
        вывих надколенника, прогрессирующая атрофия сетчатки, дефицит пируваткиназы</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Активность:</span> 5 из 5</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Общительность:</span> 4 из 5</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Агрессивность:</span> 2 из 5</p></li>
</ul>
<h2 class="center spis_text">Внешность</h2>
<img src="/static/images/Abisin_kity.png" width="350px" height="350px" class="right">
<p class="center text main_text">
    <strong>Тело</strong> Среднего размера, элегантное. Корпус средней длины, тело плотное, гибкое, мускулистое.
    Хвост длинный, толстый у основания, заканчивается сужающимся кончиком. Конечности жилистые, длинные, стройные, лапы овальные, узкие.
    Шея стройная</p>
<p class="center text main_text"><strong>Голова</strong> Умеренно клиновидная, с плавно округленными контурами.
    Нос средней длины, подбородок сильный. Профиль с легким переходом.</p>
<p class="center text main_text"><strong>Уши</strong> Большие, широко поставленные, широкие у основания, кончики слегка закруглены.</p>
<p class="center text main_text"><strong>Шерсть</strong> Короткая, тонкая, блестящая, с легким подшерстком, но густая и упруго прилегающая к телу.</p>
<p class="center text main_text"><strong>Глаза</strong> Большие, сияющие, выразительные, широкой миндалевидной формы, широко расставлены.
    Цвет глаз чистый, ясный, от янтарного до зеленого. В серебристых окрасах предпочтителен зеленый.
    Веки во всех окрасах имеют окантовку в тоне тикинга.</p>
<p class="center text main_text"><strong>Тикинг</strong> Равномерно распределен по телу, не образуя рисунка. Линия вдоль позвоночника, кончик
    хвоста и подошвы задних конечностей интенсивно окрашены в цвет тикинга.
    Грудь, живот и внутренняя сторона конечностей не имеют тикинга и окрашены в цвет фона.</p>
<p class="center text main_text"><strong>Окpасы</strong> Дикий окpас, соppель, голубой, беж-фавн, чеpепаховый,
    чеpепаховый соppель, голубой чеpепаховый, чеpепаховый фавн, чеpный сеpебpистый, соppель сеpебpистый,
    голубой сеpебpистый, фавн сеpебpистый, чеpепаховый сеpебpистый, соppель чеpепаховый сеpебpистый,
    голубой чеpепаховый сеpебpистый, фавн чеpепаховый сеpебpистый.</p>
<h2 class="center spis_text">Характер</h2>
<p class="text main_text">
Абиссинская кошка отличается высоким интеллектом и живым темпераментом.
Они сразу запоминают – где миска, туалет и когтеточка, прекрасно ладят с детьми и абсолютно не склонны к агрессии.
Абиссинцы любопытны и очень контактны. Они легко обучаются новому, быстро усваивают различные навыки.
Кошки этой породы активны, игривы, любят лазать и располагаться на высоких поверхностях.
Но на коленях они сидеть не любят, предпочитая просто находиться рядом.
Это отличные компаньоны, которые дружелюбно настроены ко всем: и к людям, и к другим животным.</p>
<h2 class="center spis_text">Уход</h2>
<p class="text main_text">Абиссинские кошки достаточно неприхотливы в уходе.
Линяют они мало, поэтому вычесывать их достаточно раз в неделю.
Купать их стоит очень редко. Можно делать это исключительно в периоды линьки.
Необходимо регулярно чистить уши.
Легко приучаются к лотку, если используется естественный наполнитель, либо к унитазу.
Искусственный наполнитель может вызвать затруднения.</p>
<h2 class="center spis_text">Рацион</h2>
<p class="text main_text">В еде абиссинцы неприхотливы, поэтому их можно кормить как домашней едой, так и специальным кормом.
Однако стоит обратить внимание на сбалансированность пищи и объем. При переедании возможны проблемы со стулом.</p>
<h2 class="center spis_text">Разведение и размножение</h2>
<p class="text main_text"><strong>При вязке необходимо соблюдать следующие правила:</strong></p>
<ol>
    <li class="num"><p class="text main_text">Кошку вяжут после первой или второй течки, но не раньше того, как ей исполнился 1 год.
        До этого организм кошки еще формируется.</p></li>
    <li class="num"><p class="text main_text">Один из партнеров должен быть уже развязан, поскольку неопытный питомец может растеряться.</p></li>
    <li class="num"><p class="text main_text">Обе кошки должны быть привиты, здоровы и проглистогонены за 2 недели до вязки.</p></li>
    <li class="num"><p class="text main_text">Обоим животным необходимо подстричь когти, потому что брачные игры порой бывают довольно агрессивны
        и жестоки и животные могут поранить друг друга.</p></li>
    <li class="num"><p class="text main_text">Кошку всегда привозят к коту, а не наоборот.
        Когда кот чувствует себя хозяином на своей территории, он спокоен и не тратит время на обследование незнакомой обстановки.</p></li>
    <li class="num"><p class="text main_text">Кошку привозят на 2-3 день течки и оставляют у кота на 3-5 дней.</p></li>
    <li class="num"><p class="text main_text">Перед вязкой кошку не надо мыть, поскольку это может лишь ее запаха, привлекающего кота.</p></li>
</ol>
<h2 class="center spis_text">История породы</h2>
<img src="/static/images/Abisin_2.png" width="250px" height="250px" class="right">
<p class="center text main_text">Есть несколько версий происхождения данной породы кошек.
Ни одна из них не является полностью доказанной, у каждой из них есть свои сторонники и противники.</p>
<p class="center text main_text">Известно, что первой кошкой абиссинского фенотипа, получившей известность в Европе, была кошка по кличке Зула,
привезённая в Англию из Эфиопии, в то время называвшейся Абиссинией.
По её происхождению и получила название порода в будущем. Зулу привёз капитан Баррет-Ленард в 1868 году,
вернувшись домой с Англо-абиссинской войны. Неизвестно, были ли у этой кошки котята, использованные в становлении породы,
но именно эта кошка привлекла внимание общественности к аборигенным кошкам Африки.</p>
<p class="center text main_text">Современный вид порода приобрела уже в Европе, распространившись из Англии.
Первые кошки абиссинской породы были показаны на выставке 1871 года в Хрустальном дворце близ Лондона.
На тот момент у кошек были полоски табби на конечностях, но постепенно селекционеры избавились от этого.
В определенный период времени абиссинцы имели и кисточки на ушах, но и данная особенность к сегодняшнему дню исчезла.</p>
<h2 class="center spis_text">Интересные факты</h2>
<p class="text main_text">В 1978 году студия Walt Disney Productions выпустила фильм под названием «Кот из далёкого космоса» («The Cat From Outer Space»).
В главной роли кота-пришельца, попавшего на Землю в результате поломки космического корабля, был показан абиссинский кот.
При этом на съёмках было задействовано двое животных этой породы, кот и кошка.</p>
<p class="text main_text">Среди знаменитых владельцев абиссинских кошек певец Дэвид Боуи и киноактёр Николас Кейдж.</p>
<p class="text main_text">У абиссинцев сильно развит родительский инстинкт, коты не меньше кошек заботятся о потомстве и следят за котятами.</p>
{% endblock %}