{% include "Base_cats.html" %}
{% block content %}
<h1 class="center spis_text">Австралийский мист</h1>
<p class="text main_text">Австралийская дымчатая кошка, или австралийский мист (англ. Australian Mist),
— порода домашних кошек, выведенная в Австралии на основе местных дворовых кошек, завезённых сюда,
    с кошками бирманской и абиссинской породы.</p>
<p class="text main_text">Является единственной породой кошек, выведенной в Австралии и имеющей признание международных
    фелинологических федераций.</p>
<img src="/static/images/Astro_2.png" width="750px" height="700px" class="left">
<ul class="center">
    <li class="items"><h2 class="spis_text">Характеристика:</h2></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Рост:</span> самец от 27 до 30 см, самка от 25 до 27 см</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Вес:</span> самец от 5 до 7 кг, самка от 4 до 5 кг</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Продолжительность жизни:</span> 15-18 лет</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Длина шерсти:</span> Короткошерстная</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Стоимость котенка:</span> 25-80 тысяч рублей</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Средний срок беременности:</span> 60 дней</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Количество детенышей:</span> 3-5</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Страна происхождения:</span> Австралия</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Год происхождения:</span> 1986</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Порода признана фелинологическими организациями:</span> WCF, ACF</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Породные болезни:</span> ожирение</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Активность:</span> 2 из 5</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Общительность:</span> 5 из 5</p></li>
    <li class="items"><p class="text main_text"><span class="spis_text">Агрессивность:</span> 0 из 5</p></li>
</ul>
<h2 class="center spis_text">Внешность</h2>
<img src="/static/images/Astro_kity.png" width="350px" height="350px" class="right">
<p class="center text main_text">
    <strong>Тело</strong> среднего размера и средней длины. Корпус тяжёлый, мускулистый. Грудь широкая и округлая, если смотреть в профиль.
    Ноги средней длины и мускулистые, лапы овальные, плотно собранные. Хвост длинный, слегка сужается от широкого основания до кончика.</p>
<p class="center text main_text">
    <strong>Голова</strong> имеет форму широкого тупого клина с хорошей шириной между ушами.
    Контуры мягко скруглены. Переход от лба к морде хорошо выражен, нос без горбинки.
    Нос и лоб одинаково длинные, лоб выгнут. Нос широкий, сильно оголенный к переносице. Подушечки усов сплошные. Крепкий подбородок.</p>
<p class="center text main_text">
    <strong>Уши</strong> среднего и большого размера, широкие у основания с закруглёнными кончиками.
    Слегка наклонены вперёд. Наружная линия ушей продолжает контуры головы.</p>
<p class="center text main_text">
    <strong>Шерсть</strong>  короткая, глянцевая и эластичная, с подшерстком.
    Полная, тёплая, рыжая тонировка на носу, щеках и ушах, слегка бледнее книзу головы и груди.
    Легкий «загар» по кончикам шерсти на нижней части тела. Пятнистый или мраморный рисунок табби.</p>
<p class="center text main_text">
    <strong>Глаза</strong> большие, блестящие, широко расставленные и наклоненные к носу.
    Верхняя линия глаз прямая, нижняя округлая. Все оттенки зелёного.</p>
<p class="center text main_text">
    <strong>Окрас</strong> состоит из трёх уровней: основной цвет (светлее, чем рисунок),
    рисунок слегка темнее основного цвета, но в то же время отчётливо виден, дымчатая мантия.
    Цветовые вариации: брауни, синий, карамель, шоколад, сирень, золото, персик.</p>
<h2 class="center spis_text">Характер</h2>
<p class="text main_text">
    Австралийская дымчатая кошка обладает покладистым характером.
    Ей не свойственны агрессивность и суетливость.
    Кошки в меру активны и любознательны в молодом возрасте, в дальнейшем предпочитают спокойное времяпрепровождение.
    Общительны с хозяевами, легко обучаются и запоминают правила поведения.
    Эти кошки склонны проводить время дома, любят закрытые небольшие уголки, спокойно относятся к отсутствию возможности выгулов.
С новыми людьми – всегда приветливы, с детьми – ласковы и терпеливы. Не показывают агрессию при неосторожном обращении. Предпочитают «сбежать» от конфликта.
    Спокойно переносят продолжительное пребывание в одиночестве.
</p>
<h2 class="center spis_text">Уход</h2>
<p class="text main_text">
    Короткая шерсть миста практически не линяет и не требует специализированного ухода.
    Однако, не забывайте расчесывать своего питомца, а также чистить ему зубы и уши.
    Купать кота стоит только при необходимости.</p>
<h2 class="center spis_text">Рацион</h2>
<p class="text main_text">
    Как и другие коты, при неправильном питании мист склонен к ожирению,
    потому кормить миста рекомендуется из рассчета 75 килокалорий пищи на килограмм веса.
    Питаются они как сухими кормами, так и натуральной пищей.
    Нельзя кормить миста молоком, жирным мясом, макаронными изделиями, выпечкой, копченостями, сладостями, отходами с хозяйского стола.</p>
<h2 class="center spis_text">Разведение и размножение</h2>
<p class="text main_text">
    Для разведения мистов потребуются кот класса шоу и кошка класса брид либо шоу.
    Половое созревание у австралийских мистов позднее.
    Вязать кошек можно не раньше 1,5 лет.
    Чтобы вязка была официальнозарегистрирована,
    кошка обязана быть участницей нескольких выставок и получить разводную оценку или титульный сертификат.
    Вязка должна проходить в маленькой безопасной комнате.
    Сводят кошек на второй–третий день течки у самки.
    После рождения котят помёт регистрируют в течение 8 недель у фелинолога из клуба или организации.
    После этого выдаётся Племенное свидетельство на весь помёт и на каждого отдельного котёнка.</p>
<h2 class="center spis_text">История породы</h2>
<img src="/static/images/Astro_cat.png" width="450px" height="350px" class="right">
<p class="center text main_text">
    В 1975 году заводчица Гертруда Страйд из Сиднея (Австралия) занялась выведением первой местной породы кошек.</p>
<p class="center text main_text">Ее целью было получение питомцев, сочетающих черты пород:</p>
<ol>
    <li class="num"><p class="text main_text">Бурманских – в части внешности и любвеобильности</p></li>
    <li class="num"><p class="text main_text">Абиссинских – самостоятельность и смышленость</p></li>
    <li class="num"><p class="text main_text">Сиамских – из-за формы глаз и взгляда</p></li>
    <li class="num"><p class="text main_text">Обычных домашних кошек – имеющих отличную выносливость,
        отменное здоровье, неприхотливость в уходе, короткую шерсть.</p></li>
</ol>
<p class="center text main_text">В результате многолетнего селекционного труда Гертруде удалось получить желаемую кошку
    пятнистого окраса.</p>
<p class="center text main_text">
    В 1986 году порода была официально зарегистрирована и допущена к участию в выставках.</p>
{% endblock %}