<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<meta name="description" content="Сайт о домашних животных, о том как за ними ухаживать. Можно узнать
    какой породы ваше животное. Так же сдесь по волонтёрским объявлениям можно завести питомца.">
    <meta name="author" content="MGS">-->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/CSS/title.css"/>
    <title>Главная</title>
</head>
<body>
   <header>
     <img src="/static/images/All_animals.png" width="100%">
       <ul>
         <li class="left"><a class="block" href="#">КОШКИ</a></li>
         <li class="left"><a class="block" href="#">СОБАКИ</a></li>
         <li class="left"><a class="block" href="#">РЫБЫ</a></li>
         <li class="left"><a class="block" href="#">ЯЩЕРЕЦЫ</a></li>
         <li class="left"><a class="block" href="#">ЧЕРЕПАХИ</a></li>
         <li class="left"><a class="block" href="#">МЫШИ</a></li>
         <li class="left"><a class="block" href="#">ХОМЯКИ</a></li>
         <li class="right"><a href="/regist"><button class="but" id="reg">Зарегестрироваться</button></a></li>
         <li class="right"><a><button class="but" id="log">Войти</button></a></li>
       </ul>
   </header>
   <main>
      <h1 class="text">Добро пожаловать на сайт о домашних животных.</h1>
      <p class="text">Кошка, собака, корова, коза, баран, овечка, свинья, лошадь,
      кролик – это домашние животные, которые живут рядом с человеком. Домашних животных человек
      кормит, оберегает от врагов и болезней, разводит для своих нужд. Домашние животные проживают около человека:
      в доме, в специальных помещениях, предназначенных для жизни и питания животных. Одни домашние животные помогают человеку
      перевозить тяжести. От других он получает молоко, шерсть, мясо. Многие домашние животные становятся его
      преданными друзьями. Человек заботится о них. А животные для человека, взамен, дают продукты питания
      и материал для изготовления одежды, обуви и жилищ, приносят радость.</p>
      <h3 class="text">На этом сайте вы можете узнать о том как заботиться и ухаживать за домашними животными.</h3>
   </main>
   <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <img src="/static/favicon.ico" width="80" height="80">
        <h5 class="footer_text">Если вас заинтересовал наш сайт зарегестрируйтесь пожалуйста.</h5>
        <a href="/regist"><button class="but">Зарегестрироваться</button></a>
   </footer>
</body>
</html>