{% extends "base.html" %}
{% block content %}
      <h1 class="text">Добро пожаловать на сайт о домашних животных</h1>
      <p class="text main_text">Кошка, собака, корова, коза, баран, овечка, свинья, лошадь,
      кролик – это домашние животные, которые живут рядом с человеком. Домашних животных человек
      кормит, оберегает от врагов и болезней, разводит для своих нужд. Домашние животные проживают около человека:
      в доме, в специальных помещениях, предназначенных для жизни и питания животных. Одни домашние животные помогают человеку
      перевозить тяжести. От других он получает молоко, шерсть, мясо. Многие домашние животные становятся его
      преданными друзьями. Человек заботится о них. А животные для человека, взамен, дают продукты питания
      и материал для изготовления одежды, обуви и жилищ, приносят радость.</p>
      <h3 class="text">На этом сайте вы можете узнать о том как заботиться и ухаживать за домашними животными.</h3>
{% endblock %}